# Byte-compiled / optimized / DLL files
__pycache__/

# vscode
/.vscode/**
!/.vscode/launch.json

#pycharm
.idea/

#Project
/datasets/CIFAR-10/*.gz
/datasets/CIFAR-10/cifar-10-batches-py
/datasets/MNIST/*
/datasets/*.zip
/datasets/caltech101/*.zip
/datasets/PascalVOC2007/*
/results/*
/object_detection/results/*
*.pt