# Byte-compiled / optimized / DLL files
__pycache__/

# vscode
/.vscode/**
!/.vscode/launch.json
.vscode/
#pycharm
.idea/

#Project
/image_classification/datasets/*
/image_classification/checkpoints/*
/image_classification/results/*
*.pt

/object_detection/results/*
/object_detection/checkpoints/*
/object_detection/pics/*