# Byte-compiled / optimized / DLL files
__pycache__/

# vscode
/.vscode/**
!/.vscode/launch.json
.vscode/
#pycharm
.idea/

#Project
*/datasets/*
*/checkpoints/*

CV/image_classification/datasets/*
CV/image_classification/checkpoints/*
CV/image_classification/results/*
*.pt

CV/YOLOV1/object_detection/results/*
CV/YOLOV1/object_detection/checkpoints/*
CV/YOLOV1/object_detection/pics/*

GNNs/datasets/*
GNNs/checkpoints/*

GSL/datasets/*